*{
    padding: 0;
    margin: 0;

}
.contact{
    background-color: rgb(234, 51, 81);
    text-align: center;
    padding: 200px;
    margin: 40px;
    margin-top: 50px;
    border-radius: 20px;
    border-color: pink;
    border-width: 3px;
    border-style: inset;
}
.contact input{
    border: 20px;
    padding: 20px;
    width: 80%;
    border-radius: 20px;
}
.contact p{
    font-weight: bold;
    padding: 10px;
    font-size:x-large;

}
.contact input:hover{
    text-decoration: black;
    
}
.contact button:hover{
    text-decoration: underline;
    color:indigo;
    transition:2s;
}